body {
  font-family: 'Acme', sans-serif;
  background-color: #7ac70c;
}

h1, h2 {
  color: white;
  margin-top: 5%;
  text-align: center;
  font-size: 90px;
  letter-spacing: 15px;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

#btn {
  text-align: center;
}

.button {
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #8ee000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5% 2%;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #bff199;
}

.button:nth-child(2), :nth-child(3), :nth-child(4) {
  opacity: 0.6;
  cursor: not-allowed;
}